<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="newDatabaseInformation" type="Allrecipes.Data.Configuration.ConnectionSection, Allrecipes.Data" />
  </configSections>
  <appSettings>
    <add key="EnvironmentConfigSource" value="App_Data\Environment.xml" />
    <add key="SolrServer" value="http://main-vm.allrecipes.corp:8080/solr" />
    <add key="gsaServer" value="http://10.210.64.226/"/>
    <add key="SearchTermThreshold" value="50" />
    <add key="SearchTermCacheFalloutMinutes" value="120" />
    <add key="ApplicationID" value="71" />
    <add key="SolrBoostPhraseSlop" value="100.0" />
    <add key="SolrPhraseBoostTitle" value="10.0" />
    <add key="SolrPhraseBoostDescription" value="2.0" />
    <add key="SolrPhraseBoostIngredient" value="2.0" />
    <add key="SolrPhraseBoostAttribute" value="2.0" />
    <add key="SolrPhraseBoostSearchContent" value="1.0" />
    <add key="SolrBoostDefault" value="1.0" />
    <add key="SolrBoostSynonyms" value="1.0" />
    <add key="SolrBoostRecipePopularity" value="350" />
    <add key="SolrBoostRecipeNumberOfReviews" value="0.0" />
    <add key="SolrBoostRecipeTitle" value="9.0" />
    <add key="SolrBoostRecipeAttributeAnyAll" value="16.0" />
    <add key="SolrBoostRecipeAttributeExact" value="1.0" />
    <add key="SolrBoostRecipeDescriptionAnyAll" value="1.5" />
    <add key="SolrBoostRecipeDescriptionExact" value="1.0" />
    <add key="SolrBoostRecipeIngredient" value="2.00" />
    <add key="SolrBoostArticleTitle" value="2.0" />
    <add key="SolrBoostArticleDescription" value="1.0" />
    <add key="SolrBoostArticleAttribute" value="1.9" />
    <add key="SolrBoostArticleByLine" value="1.0" />
    <add key="SolrBoostArticleSearchContent" value="1.0" />
    <add key="SolrBoostHubTitle" value="2.0" />
    <add key="SolrBoostHubDescription" value="1.0" />
    <add key="SolrBoostHubAttribute" value="1.9" />
    <add key="SolrBoostHubBreadcrumb" value="1.0" />
    <add key="SolrBoostRecipeBoxTitle" value="1.0" />
    <add key="SolrBoostRecipeBoxSearchContent" value="1.0" />
    <add key="SolrBoostVideoTitle" value="2.0" />
    <add key="SolrBoostVideoKeywords" value="1.9" />
    <add key="SolrBoostVideoDescription" value="1.0" />
    <add key="SolrBoostVideoSummary" value="1.0" />
    <add key="SolrBoostVideoSourceAR" value="0.0" />
    <add key="SolrBoostVideoSourceActiveAdPartner" value="0.0" />
    <add key="SolrBoostVideoPlayCount" value="0.00005" />
    <add key="SolrQueryTypeName" value="defType" />
    <add key="SolrQueryTypeValue" value="edismax" />
    <add key="SolrQueryParamMinShouldMatchValue" value="3&lt;-1 5&lt;80%" />
    <add key="SolrBoostShowcaseVideo" value="4.84" />
    <add key="SolrBoostShowcaseHub" value="2.0" />
    <add key="SolrBoostShowcaseArticle" value="2.0" />
    <add key="SolrBoostShowcaseTitle" value="2.0" />
    <add key="SolrBoostShowcaseBody" value="1.0" />
    <add key="SolrBoostShowcaseAttribute" value="1.9" />
    <add key="SolrBoostShowcasePopularityCount" value="0.00005" />
    <!-- Graylog -->
    <!--Commented out because these are all default values
    <add key="ServerStatusProvider" value="Allrecipes.Utilities.ServerStatusProviders.RabbitMQServerStatusProvider, Allrecipes" />
    <add key="ServerStatusProviderOfflineMaxExceptionCount" value="10" />
    <add key="ServerStatusProviderOfflineMaxElapsedTime" value="00:01:00" />
    <add key="ServerStatusProviderOfflineMaxExceptionCountTimespan" value="00:05:00" />-->
  </appSettings>
  <newDatabaseInformation>
    <instances>
      <instance key="prod" server="PR1DB1-SEA-V-8R" default="true" />
    </instances>
  </newDatabaseInformation>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <add verb="*" path="CacheInfo.aspx" type="Allrecipes.Web.Monitoring.CacheInfoHandler" />
      <add verb="*" path="WebServices.aspx" type="Allrecipes.Web.Monitoring.WebServiceLocationsHandler" />
    </httpHandlers>
    <httpModules>
      <add type="Allrecipes.Web.HttpExtensions.UnhandledExceptionLoggingModule, Allrecipes" name="UnhandledExceptionLoggingModule" />
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <!-- Allrecipes Modules-->
      <remove name="UnhandledExceptionLoggingModule" />
      <add type="Allrecipes.Web.HttpExtensions.UnhandledExceptionLoggingModule, Allrecipes" name="UnhandledExceptionLoggingModule" preCondition="integratedMode" />
      <!-- Framework Modules-->
    </modules>
    <handlers>
      <!-- Allrecipes Handlers -->
      <remove name="CacheInfoHandler" />
      <remove name="WebServiceLocationsHandler" />
      <add name="CacheInfoHandler" verb="*" path="CacheInfo.aspx" type="Allrecipes.Web.Monitoring.CacheInfoHandler, Allrecipes" preCondition="integratedMode" />
      <add name="WebServiceLocationsHandler" verb="*" path="WebServices.aspx" type="Allrecipes.Web.Monitoring.WebServiceLocationsHandler, Allrecipes" preCondition="integratedMode" />
      <!-- Framework Handlers -->
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <!-- To enable additional performance counters, set performanceCounters="ServiceOnly" -->
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <diagnostics performanceCounters="Off" />
    <services>
      <service name="AllrecipesSearchService.SearchProvider" behaviorConfiguration="defaultBehaviorConfig">
        <endpoint binding="basicHttpBinding" bindingConfiguration="defaultBasicHttpBindingConfig" name="basicHttpBinding_SearchProvider" contract="Allrecipes.Web.Services.Contracts.ISearchProvider" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding_SearchProvider" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="defaultBasicHttpBindingConfig" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="defaultBehaviorConfig">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <!-- Using .NET 4.0 defaults -->
          <serviceThrottling maxConcurrentCalls="64" maxConcurrentInstances="464" maxConcurrentSessions="400" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>